################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fora/v17
/Fora.Tests/bin/Debug/net8.0
/Fora.Tests/obj
